
.shortcuts-menu {
    padding-left: 16px;
    border-left: 1px solid;
}
.shortcut-link {
    position: relative;
}
.shortcut-link .btn-link {
    visibility: hidden;position: absolute; right: 0; top: -8px;
}
.shortcut-link:hover .btn-link {
    visibility: visible;
}