
[data-color-mode=dark][data-dark-theme=dark_dimmed],
[data-color-mode=light][data-light-theme=dark_dimmed] {
    --color-auto-gray-2: #373e47 !important;
}
.shortcuts-menu {
    padding-left: 16px;
    border-left: 1px solid;
}
.ghsh-container {
    position: relative;
}
.ghsh-remove {
    visibility: hidden;
    position: absolute;
    right: 0;
    top: -8px;
}
.ghsh-container:hover .ghsh-remove {
    visibility: visible;
}
.ghsh-filter--global {
    font-weight: 600;
}

.gh-shortcuts-dialog {
    border: 1px solid var(--color-border-default);
    background-color: var(--color-canvas-default);
    color: var(--color-text-primary);
    border-radius: 6px;
    width: 350px;
}

.gh-shortcuts-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4) ;
}
.gh-shortcuts-dialog label {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.gh-shortcuts-dialog label span {
    width: 50px;
    text-align: right;
}
.gh-shortcuts-dialog label input {
    flex: 1;
    background-color: var(--color-input-bg);
    border-width: 1px;
    border: 1px solid var(--color-input-border);
    border-radius: 6px;
    color: var(--color-text-secondary);
    outline: none;
}
.gh-shortcuts-dialog label input:focus,
.gh-shortcuts-dialog label input:active {
    border-color: var(--color-state-focus-border)!important;
    box-shadow: var(--color-state-focus-shadow)!important;
}
.gh-shortcuts-dialog menu {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.gh-shortcuts-dialog button {
    border-width: 1px;
    border-radius: 6px;
}
